<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utils.ExtentReportListener" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="tests.EventTestCase">
				<methods>
					<include name="verifyHoursMinsutesAndDurationValidation" />
					<!--<include name="verifyAllWebElementOnAddProductSale" />
					<include name="checkingWithoutMandatoryFields" />
					<include name="verifyHoursMinsutesAndDurationValidation" />
					<include name="behaviourChiefComplaintOnOralExam" />
					<include name="teethBehaviourOralExamAdd" />
					<include name="behaviorOfTissueForSingleTeeth" />
					<include name="addOralExamSingleTeeth" />
					<include name="addOralExamOfMultipleTeeth" />
					<include name="oralExamEditInputList" />-->
				</methods>
			</class>
		</classes>
	</test>
</suite>
<!--
'Commented code for debug or other purpose'

<class name="tests.AppointmentAddScanTestCase">
				<methods>	
					<include name="appointmentScanPage" /> 
					<include name="mandatoryFields" />
					<include name="bookNewAppointmentScanHome" />
					<include name="deleteAppointment" /
					<include name="bookTentativeAppointment" />
				</methods>
</class>

-->