<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utils.ExtentReportListener" />
	</listeners>
	<test name="Test">
		<classes>
			<class name="tests.EventTestCase">
				<methods>
					<include name="verifyResetBtnOnEventListing" />
					<!--<include name="verifyAllWebElementOnAddProductSale" />
					<include name="checkingWithoutMandatoryFields" />
					<include name="verifyHoursMinsutesAndDurationValidation" />
					<include name="verifyAddingByDoctorEvent" />
					<include name="verifyDocEventIfAlreadyEventOnSameTime" />
					<include name="verifyUpdateDoctorEvent" />
					<include name="verifyDeleteDoctorEvent" />
					<include name="verifyAddEventIfAppointmentAlreadyBookedForTime" />
					<include name="verifyByOperatoryEvent" />
					<include name="verifyAddingEventOnLastOpearatoryAvailable" />
					<include name="verifyUpdateByOperatoryEvent" />
					<include name="verifyDeleteByOperatoryEvent" />
					<include name="verifyAddEventIfTentativeAppointmentAlreadyBookedForTime" />
					<include name="verifyByRoomEvent" />
					<include name="verifyUpdateByRoomEvent" />
					<include name="verifyDeleteByRoomEvent" />
					<include name="addingEventForPastTime" />
					<include name="verifyByScannerEvent" />
					<include name="verifyAddingEventOnLastScannerAvailable" />
					<include name="verifyUpdateByScannerEvent" />
					<include name="verifyDeleteByScannerEvent" />
					<include name="verifyCancelAndResetBtnWorkingOnAddEvent" />
					<include name="verifyElementOnEventList" />
					<include name="verifyAddEventFromEventListingAndRedirection" />
					<include name="verifyFrmAndToDateFilter" />
					<include name="checkFrmDateIsNotLaterToToDate" />
					<include name="verifyDoctorFilterWithDateFilterOnEventList" />
					<include name="verifyEventTypeFilterWithDateFilter" />
					<include name="verifyCategoryFilterWithDateAndTypeFilter" />
					<include name="verifyResetBtnOnEventListing" />
					
					-->
				</methods>
			</class>
		</classes>
	</test>
</suite>
<!--
'Commented code for debug or other purpose'

<class name="tests.AppointmentAddScanTestCase">
				<methods>	
					<include name="appointmentScanPage" /> 
					<include name="mandatoryFields" />
					<include name="bookNewAppointmentScanHome" />
					<include name="deleteAppointment" /
					<include name="bookTentativeAppointment" />
				</methods>
</class>

-->